body {
    display: flex;
    justify-content: center;
    margin: 0px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: gray;
}

body>div{
    position: relative;
    width: 1200px;
    background-color: white;
}

a {
    color: #ef2f24;
    font-weight: bold;
    text-decoration: none;
}

#top {
    height: 10px;
    background-color: #ef2f24
}

nav {
    display: flex;
    text-transform: uppercase;
    padding: 25px
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav #menu {
    position: absolute;
    right: 0px;
}

nav #menu a {
    color: black
}

header {
    background-image: url("../images/Track-smiles-1300x529-1.jpg");
}

header .spacer {
    height: 150px
}

header h1 {
    font-size: 3em;
}

header #socialmedia {
    display: flex;
    justify-content: center;
}

header #socialmedia a {
    margin: 10px;
}

header #socialmedia img {
    width: 80px;
}

.box p, .box h1, .box h2, .box h3 {
    text-align: center;
}

.plx-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.opaque {
    opacity: 1;
}

.translucent {
    opacity: 0.8;
}

#aquathlon .banner {
    background-image: url("../images/phoenix-aquathlon-cover-image-2019.jpg");
}

#aquathlon .banner .spacer {
    height: 200px;
}

#training .banner {
    background-image: url("../images/training-hero.jpg")
}

#membership .banner {
    background-image: url("../images/membership-hero.jpg");
}

#team ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.team-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgrey;
}

.team-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.benefits {
    list-style: none;
}

.benefits li::before {
    content: '➤ ';
}

.pt-red {
    color: #ef2f24
}

.light-fg {
    color: white
}

.dark-fg {
    color: black;
}

.light-bg {
    background-color: #CCCCCC
}

.red-bg {
    background-color: #ef2f24
}

.dark-bg {
    background-color: rgba(33,33,33,0.8);
}

.box {
    margin: 50px;
    padding: 5px;
}

.bordered {
    border: 1px solid rgba(239, 47, 36, 1);
}

.floating {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.square {
    border: 1px solid black;
    width: 50%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

#menu-toggle {
    display: none;
}

@media only screen and (max-width: 900px) {
    nav #logo {
        content: url("../images/phoenixtri-icon.svg");
    }
}

.btn-red {
    border: 2px solid red;
    background-color: #ef2f24;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.btn-black {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.center-content {
    display: flex;
    justify-content: center;
}

.stagger {
    display: grid;
    grid-template-columns: 1fr 1fr 0fr;
    margin: 10px;
}

.stagger div {
    position: relative;
    margin: 10px;
}

.stagger img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
}

.stagger article {
    padding: 20px
}

.stagger div:nth-child(even) {
    background-color: #ac1a12;
    color: white;
}

.stagger div:nth-child(odd) {
    background-color: #231f20;
    color: white;
}

.back-to-top,
.back-to-top a {
    text-align: center;
    color: #ccc
}

@media only screen and (max-width: 600px) {
    nav #logo {
        content: url("../images/phoenixtri-logo.svg");
    }

    nav {
        display: block;
    }

    nav #menu {
        position: relative;
    }

    nav ul {
        text-align: center;
        display: block;
        padding: 0
    }

    #team ul {
        padding-left: 50px;
    }

    .stagger {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
    }

}
