body {
    margin: 0px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#top {
    height: 10px;
    background-color: #ef2f24
}

nav {
    display: flex;
    text-transform: uppercase;
    padding: 25px
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav #menu {
    position: absolute;
    right: 0px;
}

header {
    background-image: url("../images/Track-smiles-1300x529-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px
}

header .spacer {
    height: 150px
}

header h1 {
    font-size: 3em;
}

.plx-bg {
    background-size: 120%;
    background-position: center;
    background-repeat: repeat-y;
}

#aquathlon .banner {
    background-image: url("../images/phoenix-aquathlon-cover-image-2019.jpg");
}

#aquathlon .banner .spacer {
    height: 200px;
}

#training .banner {
    background-image: url("../images/training-hero.jpg")
}

#membership .banner {
    background-image: url("../images/membership-hero.jpg");
}

.pt-red {
    color: #ef2f24
}

.light-fg {
    color: white
}

.dark-fg {
    color: black;
}

.light-bg {
    color: white
}

.red-bg {
    background-color: #ef2f24
}

.dark-bg {
    background-color: rgba(33,33,33,0.8);
}

.box {
    margin: 50px;
    padding: 5px;
}

.square {
    border: 1px solid black;
    width: 50%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
