body {
    margin: 0px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#top {
    height: 10px;
    background-color: #ef2f24
}

nav {
    display: flex;
    text-transform: uppercase;
    padding: 25px
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

nav #menu {
    position: absolute;
    right: 0px;
}

header {
    background-image: url("../images/Track-smiles-1300x529-1.jpg");
}

header .spacer {
    height: 150px
}

header h1 {
    font-size: 3em;
}

.plx-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

#aquathlon .banner {
    background-image: url("../images/phoenix-aquathlon-cover-image-2019.jpg");
}

#aquathlon .banner .spacer {
    height: 200px;
}

#training .banner {
    background-image: url("../images/training-hero.jpg")
}

#membership .banner {
    background-image: url("../images/membership-hero.jpg");
}

#team ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.team-photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    background-color: lightgrey;
}

.team-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.pt-red {
    color: #ef2f24
}

.light-fg {
    color: white
}

.dark-fg {
    color: black;
}

.light-bg {
    color: white
}

.red-bg {
    background-color: #ef2f24
}

.dark-bg {
    background-color: rgba(33,33,33,0.8);
}

.box {
    margin: 50px;
    padding: 5px;
}

.square {
    border: 1px solid black;
    width: 50%;
    padding-top: 50%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}

#menu-toggle {
    display: none;
}

@media only screen and (max-width: 900px) {
    nav #logo {
        content: url("../images/phoenixtri-icon.svg");
    }
}

@media only screen and (max-width: 600px) {
    nav #logo {
        content: url("../images/phoenixtri-logo.svg");
    }

    nav {
        display: block;
    }

    nav #menu {
        position: relative;
    }

    nav ul {
        text-align: center;
        display: block;
        padding: 0
    }

    #team ul {
        padding-left: 50px;
    }
}
